.accordion-container {
  max-width: 864px;
  width: 100%;
  margin: auto;
  padding-bottom: 140px;

  .accordion-item {
    background-color: #ffffff;
    border: 1px solid #4474dc;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px 24px;
  }

  .accordion-header {
    font-size: 20px;
    font-weight: normal;
    border: none;
    background: none;
    padding: 0;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #0c1620;
    text-align: left;
    .icon {
      transition: all 0.3s ease;
      color: #4474dc;
      margin-left: auto;
    }
    &.active {
      .icon {
        transform: rotate(-90deg);
        color: #0c1620;
      }
    }
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    p {
      line-height: 1.7;
      font-size: 16px;
      font-weight: 300;
      color: #545454;
      padding: 0;
      &:not(:last-of-type) {
        margin: 24px 0;
      }
      a {
        color: #3867d6 !important;
        text-decoration: none !important;
        border-bottom: 1px solid #3867d6;
        padding-bottom: 2px;
      }
    }
  }

  &.accordion-checklist {
    .accordion-item {
      counter-increment: accordion-item;
      padding: 24px;
      border: 1px solid #f4a830;
    }
    .accordion-header {
      &::before {
        content: counter(accordion-item);
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        background-color: #ff7900;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  @media (max-width: 767.98px) {
    .accordion-item {
      padding: 12px 16px;
    }
    .accordion-header {
      font-size: 16px;
    }
    .accordion-content {
      p {
        font-size: 14px;
        &:not(:last-of-type) {
          margin: 16px 0;
        }
      }
    }
  }
}
