.our-projects-goals {
  background-color: #f2f6ff;
  padding: 140px 0 180px 0;
  .section-description {
    margin-bottom: 70px;
  }
  .boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    .box {
      display: flex;
      align-items: center;
      gap: 50px;
      background-color: #ffffff;
      padding: 42px 60px 28px 60px;
      border-radius: 10px;
      .title {
        font-size: 30px;
        font-weight: 600;
        color: #1f1f1f;
        text-transform: uppercase;
        margin-bottom: 18px;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        color: #545454;
        margin: 0;
        a {
          color: #3867d6 !important;
          border-bottom: 1px solid #3867d6 !important;
          text-decoration: none !important;
        }
      }
      .icon {
        color: #ff8000;
        font-size: 85px;
      }
    }
  }
  @media (max-width: 767.98px) {
    .boxes {
      .box {
        padding: 32px;
        gap: 30px;
        .icon {
          font-size: 70px;
        }
        .title {
          font-size: 24px;
          margin-bottom: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 574.98px) {
    .boxes {
      .box {
        padding: 22px 14px;
        gap: 22px;
        .icon {
          font-size: 55px;
        }
        .title {
          font-size: 16px;
          margin-bottom: 12px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
