// .pacman {
//   margin: auto;
//   margin-bottom: 150px;
//   max-width: 550px;
// }

// .pacman-top {
//   background-color: yellow;
//   height: 75px; /* Updated height */
//   width: 150px; /* Updated width */
//   border-radius: 150px 150px 0 0;
//   animation: spin1 0.5s infinite linear;
// }

// .pacman-bottom {
//   background-color: yellow;
//   height: 75px; /* Updated height */
//   width: 150px; /* Updated width */
//   border-radius: 0 0 150px 150px;
//   animation: spin2 0.5s infinite linear;
// }

// .feed {
//   margin-top: -130px; /* Updated margin-top */
//   margin-left: 15px;
//   width: 20px;
//   height: 20px;
//   border-radius: 30%;
//   animation: eat 1s linear 0s infinite;
// }

// /* Animation*/

// @keyframes spin1 {
//   0% {
//     transform: rotate(0deg);
//   }
//   50% {
//     transform: rotate(-35deg);
//   }
// }

// @keyframes spin2 {
//   0% {
//     transform: rotate(0deg);
//   }
//   50% {
//     transform: rotate(35deg);
//   }
// }

// @keyframes eat {
//   0% {
//     box-shadow: 75px 48.75px 0 0 white, 150px 48.75px 0 0 white,
//       225px 48.75px 0 0 white, 300px 48.75px 0 0 white, 375px 48.75px 0 0 white,
//       450px 48.75px 0 0 white, 525px 48.75px 0 0 white;
//   }

//   100% {
//     box-shadow: 0px 48.75px 0 0 white, 75px 48.75px 0 0 white,
//       150px 48.75px 0 0 white, 225px 48.75px 0 0 white, 300px 48.75px 0 0 white,
//       375px 48.75px 0 0 white, 450px 48.75px 0 0 white;
//   }
// }
// 404 page hero animation
// stylelint-disable

.game {
  position: relative;
}
.pacman {
  top: 50%;
  position: absolute;
}
.pacman,
.pacman > div {
  position: absolute;
}
.dot,
.pacman,
.social-links {
  transform: translateY(-50%);
}
.pacman-top {
  animation: spinTop 0.5s infinite linear;
}
.pacman-bottom {
  animation: spinBottom 0.5s infinite linear;
}
.dot {
  animation: dot 8s infinite linear;
}
.dot:nth-child(2) {
  animation-delay: 1s;
}
.dot:nth-child(3) {
  animation-delay: 2s;
}
.dot:nth-child(4) {
  animation-delay: 3s;
}
.dot:nth-child(5) {
  animation-delay: 4s;
}
.dot:nth-child(6) {
  animation-delay: 5s;
}
.dot:nth-child(7) {
  animation-delay: 6s;
}
.dot:nth-child(8) {
  animation-delay: 7s;
}
.dot:nth-child(9) {
  animation-delay: 8s;
}

@keyframes spinTop {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-35deg);
  }
}

@keyframes spinBottom {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(35deg);
  }
}

.game {
  min-height: 200px;
  max-width: 600px;
  padding: 30px 0;
  overflow: hidden;
}
.pacman {
  width: 150px;
  height: 150px;
  transform: translateY(-50%);
  background: 0 0;
  z-index: 1;
}
.pacman > div {
  background-color: #ff0;
  height: 50%;
  width: 100%;
}
.pacman-top {
  top: 0;
  border-radius: 100px 100px 0 0;
  animation: spinTop 0.5s infinite linear;
}
.dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pacman-bottom {
  bottom: 0;
  border-radius: 0 0 100px 100px;
  animation: spinBottom 0.5s infinite linear;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  right: -30px;
  animation: dot 8s infinite linear;
}
@keyframes spinTop {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@keyframes spinBottom {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(35deg);
  }
}
@keyframes dot {
  0% {
    right: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

// stylelint-enable
