.trusted-by {
  padding: 140px 0 170px 0;
  .section-title {
    margin-bottom: 28px;
  }
  .section-description {
    margin-bottom: 108px;
    max-width: 680px;
  }
  .trusted-by-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 65px;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 230px;
      filter: grayscale(1);
      cursor: pointer;
      img {
        width: 100%;
      }
      &.mailer-image {
        padding-bottom: 30px;
      }
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
